.header {
    box-sizing: border-box;
    background: #2F333D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 4;
    transition: all ease 0.5s;

    @media only screen and(max-width:768px) {
        width: 100%;
        position: fixed;
        margin: 0 auto;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        @media only screen and(max-width:768px) {
            padding: 0;
        }

        @media only screen and(max-width:576px) {
            padding: 12px 10px;
        }

        &-left {
            display: flex;
            align-items: center;

            &__img {
                width: 56.79px;
                height: 57.46px;

                @media only screen and(max-width:576px) {
                    width: 25.12px;
                    height: 25.41px;
                }
            }

            &__title {
                font-family: 'Nexa' !important;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
                color: #FFFFFF;
                margin-left: 11px;

                @media only screen and(max-width:768px) {
                    font-size: 18px;
                    line-height: 20px;
                }

                @media only screen and(max-width:576px) {
                    font-size: 14px;
                    line-height: 20px;
                }

                span {
                    color: #EA5157;
                }
            }
        }

        .burger {
            display: none;

            @media only screen and(max-width:576px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 1000000;



                .burger__line {
                    height: 2px;
                    width: 23px;
                    background-color: #fff;
                    margin-bottom: 4px;
                    transition: all ease 0.5s;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(2) {
                        transition: none;
                    }
                }

                &.active {
                    .burger__line {

                        &:nth-child(1) {
                            transform: translateY(5px) rotate(45deg);
                            transition: all ease 0.5s;
                        }

                        &:nth-child(2) {
                            height: 0;
                        }

                        &:nth-child(3) {
                            transform: translateY(-5px) rotate(-45deg);
                            transition: all ease 0.5s;
                        }
                    }
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;

            &-list {

                &__link {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 14px;
                    color: #FFFFFF;
                    padding: 0 20px;

                    transition: all ease 0.5s;

                    &.link--pad {
                        padding-right: 35px;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:hover {
                        color: #EA5157;
                    }

                    &.link--header {    
                        border-radius: 6px;
                        color: #fff;
                        background: #EA5157;
                        padding: 10px;
                        animation: animeBtn 1s infinite;

                        &:hover {
                            background-color: #fff;
                            color: #EA5157;
                        }

                        @keyframes animeBtn {
                            0% {
                                box-shadow: 0 0 10px #EA5157;
                            }

                        25% {
                                box-shadow: 0 0 10px #EA5157,
                                0 0 20px #EA5157,
                                0 0 30px #EA5157;
                            }
                        }
                        // @keyframes animeBtn {
                        //     0% {
                        //         border: 5px solid #EA5157;
                        //         box-shadow: 0 0 5px #EA5157,
                        //             0 0 10px #EA5157,
                        //             inset 0 0 5px #EA5157,
                        //             inset 0 0 10px #EA5157;
                        //         color: #EA5157;
                        //         text-shadow: 0 0 5px #EA5157,
                        //             0 0 10px #EA5157;
                        //     }

                        //     100% {
                        //         border: 5px solid #444;
                        //         box-shadow: none;
                        //         text-shadow: none;
                        //     }
                        // }
                    }
                }
            }

            @media only screen and(max-width:576px) {
                flex-direction: column;
                align-items: flex-start;
                position: fixed;

                overflow: hidden;
                right: 0;
                bottom: 0;
                top: 0;
                background: #2F333D;
                height: 0;
                transition: all ease 0.5s;
                padding: 0 20px;

                &.show {
                    height: 100vh;
                }

                &-list {
                    &:first-child {
                        margin-top: 40px;
                    }

                    a {
                        display: block;
                        text-align: start;
                        padding: 15px 0;

                    }

                    &:last-child {
                        margin-top: 40px;
                    }

                }

                &-list {
                    
                    &__link {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 16px;
                        color: #FFFFFF;
                        padding: 35px 22px;
                        display: inline-block;
                        transition: all ease 0.5s;

                        @media only screen and(max-width:768px) {
                            font-size: 12px;
                            line-height: 14px;
                            padding: 28px 11px;
                        }

                        &.link--pad {
                            padding-right: 35px;
                        }

                        &:first-child {
                            padding-left: 0;
                        }

                        &:hover {
                            color: #EA5157;
                        }

                        &.link--header {
                            background: #EA5157;
                            border-radius: 6px;
                            padding: 10px;

                            &:hover {
                                background-color: #fff;
                                
                            }
                        }

                        
                    }
                }
            }
        }
    }
}